/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.background {
    -fx-background-color: #336666;
}
.dialogStage {
    -fx-background-color: #336650;
    -fx-border-color: black;
    -fx-border-radius: 1;
    -fx-border-width: 1;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Comic sans";
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}
.check-box {
    -fx-font-size: 11pt;
    -fx-font-family: "Clarendon BT";
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Clarendon BT";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Clarendon BT";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.table-view {
    -fx-base: #669966;
    -fx-control-inner-background: #669966;
    -fx-background-color: #669966;
    -fx-padding: 5;
}
.list-view {
    -fx-base: #669966;
    -fx-control-inner-background: #669966;
    -fx-background-color: #669966;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 10pt;
    -fx-font-family: "Constantia";
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);
}

.context-menu {
    -fx-background-color: derive(#1d1d1d,50%);
}

.menu-bar .label {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
	-fx-background-color: black;
}

.text-field {
    -fx-font-size: 10pt;
    -fx-font-family: "Comic Sans MS";
    -fx-padding: 3;
    
}
.total{
    -fx-font-size: 30pt;
    -fx-font-family: "Comic Sans MS";
    -fx-padding: 3;
    
}

totallabel{
	-fx-font-size: 11pt;
    -fx-font-family: "Comic sans";
    -fx-text-fill: white;
    -fx-opacity: 0.6;

}
/* 
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-background-radius:10;
    -fx-pref-width: 65;
    -fx-padding:3;
    -fx-shadow-highlight-color: #f0f0f0;
    -fx-body-color: linear-gradient(from 0em 0em to 0em 2.083333em, white, #D7D7D7, white);
}


.button:hover {
    -fx-background-color: #99cc66;
}

.tab:pressed, .tab:default:hover:pressed {
  -fx-background-color: #6699ff;
  -fx-text-fill: #669999;
  }

.tab:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(5, 5);
    -fx-border-radius: 11, 11;
    -fx-border-insets: 1 1 1 1, 0;
    
}

.tab:disabled, .tab:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #b3b3b3;
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.tab:default {
	-fx-font-family: "Calisto MT";
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #cccccc;
}

.tab:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}
.tab-pane {
     -fx-background-color:  #3a3a3a;
}
 .tab {
 	-fx-background-radius: 11;
    -fx-padding: 2;
    -fx-pref-width: 70;
    -fx-shadow-highlight-color: #f0f0f0;
    -fx-body-color: linear-gradient(from 0em 0em to 0em 2.083333em, white, #D7D7D7, white);
    }
.tab:hover{
	-fx-background-color: #99cc66;
	-fx-text-fill: #ffffff;
}
.tab:selected{
	-fx-background-color:  #669999;
}
    
.tooltip {
	-fx-background-color: #315196;
    -fx-padding: 3;
    -fx-shadow-highlight-color: #f0f0f0;
    -fx-body-color: linear-gradient(from 0em 0em to 0em 2.083333em, black, #2f6beb, black);
}
.combo-box:hover{
	-fx-background-color: #669999;
}
/*******************************************************************************
 *                                                                             *
 * ProgressBar                                                                 *
 *                                                                             *
 ******************************************************************************/

.progress-bar {
    -fx-skin: "com.sun.javafx.scene.control.skin.ProgressBarSkin";
    -fx-background-color:
        -fx-box-border,
        linear-gradient(to bottom, derive(-fx-color,30%) 5%, derive(-fx-color,-17%));
    -fx-background-insets: 0, 1;
    -fx-indeterminate-bar-length: 60;
    -fx-indeterminate-bar-escape: true;
    -fx-indeterminate-bar-flip: true;
    -fx-indeterminate-bar-animation-time: 2;
    -fx-focus-traversable: true;
}

.progress-bar .bar {
    -fx-background-color:
        -fx-box-border,
        linear-gradient(to bottom, derive(-fx-accent,95%), derive(-fx-accent,10%)),
        linear-gradient(to bottom, derive(-fx-accent,38%), -fx-accent);
    -fx-background-insets: 0, 1, 2;
    -fx-padding: 0.416667em; /* 5 */
}

.progress-bar:indeterminate .bar {
    -fx-background-color: linear-gradient(to left, transparent, -fx-accent);
}

.progress-bar .track {
     -fx-background-color:
        -fx-box-border,
        linear-gradient(to bottom, derive(-fx-color,-15%), derive(-fx-color,2.2%) 20%, derive(-fx-color,60%));
    -fx-background-insets:  0, 1;
}

.progress-bar:disabled {
    -fx-opacity: 1.0
}

.date-picker .label{
    -fx-text-fill: black;
}